* {
  font-family: "Lato", sans-serif;
  font-family: "Lexend Giga", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.body-blue {
  background-color: #109ceb;
}

header {
  text-align: center;
  background-color: #109ceb;
  height: 40%;
}

.index-title {
  text-align: center;
}

.index-title img {
  width: 25%;
}

#index {
  display: block;
  background-color: #109ceb;
}

#movies {
  display: none;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.logo-title {
  text-align: center;
  margin-top: 40px;
}

.letter {
  display: flex;
  justify-content: center;
  height: 95px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 190px;
  color: white;

  font-size: 40px;
  text-shadow: 2px 1px 0px black;
}

.letter2 {
  display: flex;
  gap: 23px;
  padding: 26px;
  margin-top: -28px;
}

.p1 {
  animation: subir 3s infinite;
  padding: 25px;
  transform: rotate(325deg);
}

.p2 {
  animation: subir 3s infinite;
  transform: rotate(343deg);
}

.p3 {
  animation: subir 3s infinite;
  transform: rotate(3deg);
}

.p4 {
  animation: subir 3s infinite;
  transform: rotate(-345deg);
}

.p5 {
  animation: subir 3s infinite;
  transform: rotate(350deg);
}

.p6 {
  animation: subir 3s infinite;
  transform: rotate(326deg);
}

@keyframes subir {
  0% {
    margin-top: 28;
  }

  20% {
    margin-top: 5;
  }

  25% {
    margin-top: -8px;
  }
}

.cartoon-enter {
  text-align: center;
}

.cartoon-enter img {
  width: 20%;
}

.rabbit-footer {
  text-align: left;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.rabbit-footer img {
  margin: 0;
  width: 38%;
}

.menu {
  background-color: black;
  height: 80px;
  width: 100%;
  padding-top: 30px;
}

.menu-button {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.menu-button a {
  text-decoration: none;
  color: rgb(246, 247, 248);
  text-align: center;
  font-size: 15px;
}

.menu-button li {
  margin-top: 26px;
}

.menu-button a:hover {
  color: #109ceb !important;
}

a[data-tab].active {
  color: #109ceb !important;
}

.filter-container {
  display: flex;
  justify-content: end;
}

.box-filter {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin-top: 25px;
  gap: 30px;
}

#button-filter,
#button-filter-producer,
#button-filter-movie,
#button-filter-character-gender,
#button-filter-vehicle-class,
#button-filter-character-specie,
#button-filter-location-climate,
#button-filter-location-terrain {
  width: 15rem;
  height: 30px;
  border: 2px solid #aaa;
  margin-bottom: 20px;
  margin-top: 20px;
}

#button-filter-movie,
#button-filter-character-gender,
#button-filter-vehicle-class,
#button-filter-character-specie,
#button-filter-location-climate,
#button-filter-location-terrain {
  display: none;
}

#main-container {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  justify-content: center;
  gap: 120px 40px;
  margin-bottom: 350px;
}

.movie-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-container figcaption {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  font-size: 10px;
}

hr {
  border: 1px solid #ccc;
}

main {
  text-align: center;
  margin-top: 90px;
}

#characters-big-container,
#vehicles-big-container,
#directors-big-container,
#producers-big-container,
#locations-big-container {
  display: none;
}

.tab-content {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.tab-content2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 302px);
  justify-content: center;
  gap: 120px 70px;
  margin-bottom: 350px;
}

.tab-content2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tab-content2 p {
  text-align: center;
  font-size: 10px;
  margin-top: 12px;
}

.tab-content2 figcaption {
  text-align: center;
  font-size: 15px;
}

#container-filter-productors-directors {
  display: flex;
  align-items: center;
}

#button-filter-prodirect {
  margin-left: 10px;
  width: 15rem;
  height: 30px;
}

#characters-big-container,
#vehicles-big-container,
#directors-big-container,
#producers-big-container,
#locations-big-container {
  display: none;
}

.content {
  border: 2px solid #ccc;
}

footer {
  display: flex;
  background-color: rgba(235, 223, 223, 0.363);
  text-align: center;
  height: 50%;
  font-size: 13px;
}

footer ul {
  list-style: none;
}

.imagen-footer img {
  margin: 0;

  right: 0;
}

.info {
  display: none;
  position: absolute;
  width: 300px;
  border-radius: 0 6px 6px 6px;
  margin-left: 100px;
  border: 1px solid #000000;
  padding: 5px;
  text-align: left;
  background: rgba(255, 255, 255, 0.904);
  padding: 10px;
  color: #0a0a0a;
  font-size: 12px;
}

.title-tooltip {
  font-size: 20px;
  margin-bottom: 10px;
}

#root .poster:hover div.info {
  display: block;
}

/* #vehicles-small-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 505px);
    justify-content: center;
    gap: 120px 40px;
    margin-bottom: 350px;
}

#vehicles-small-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

#vehicles-small-container p {
    text-align: center;
    font-size: 10px;
    margin-top: 12px;
}

#locations-big-container {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

#locations-small-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 505px);
    justify-content: center;
    gap: 120px 40px;
    margin-bottom: 350px;
}

#locations-small-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

#locations-small-container p {
    text-align: center;
    font-size: 10px;
    margin-top: 12px;
} */